<ion-view view-title="Jokes List">
	<ion-content>
		<div class="list">
			<a class="item item-icon-left dark" ng-repeat="joke in jokes" href="#/listJoke/{{joke.id}}">
				<i class="icon ion-ios-information-outline"></i>
				{{joke.joke}}
			</a>
		</div>
	</ion-content>
</ion-view>